{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="page-inner">
  <h4 class="page-title">Chart.js</h4>
  <div class="page-category">Simple yet flexible JavaScript charting for designers & developers. Please checkout their <a href="https://www.chartjs.org/" target="_blank">full documentation</a>.</div>
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <div class="card-title">Line Chart</div>
        </div>
        <div class="card-body">
          <div class="chart-container">
            <canvas id="lineChart"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <div class="card-title">Bar Chart</div>
        </div>
        <div class="card-body">
          <div class="chart-container">
            <canvas id="barChart"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <div class="card-title">Pie Chart</div>
        </div>
        <div class="card-body">
          <div class="chart-container">
            <canvas id="pieChart" style="width: 50%; height: 50%"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <div class="card-title">Doughnut Chart</div>
        </div>
        <div class="card-body">
          <div class="chart-container">
            <canvas id="doughnutChart" style="width: 50%; height: 50%"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <div class="card-title">Radar Chart</div>
        </div>
        <div class="card-body">
          <div class="chart-container">
            <canvas id="radarChart"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <div class="card-title">Bubble Chart</div>
        </div>
        <div class="card-body">
          <div class="chart-container">
            <canvas id="bubbleChart"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <div class="card-title">Multiple Line Chart</div>
        </div>
        <div class="card-body">
          <div class="chart-container">
            <canvas id="multipleLineChart"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <div class="card-title">Multiple Bar Chart</div>
        </div>
        <div class="card-body">
          <div class="chart-container">
            <canvas id="multipleBarChart"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <div class="card-title">Chart with HTML Legends</div>
        </div>
        <div class="card-body">
          <div class="card-sub">Sometimes you need a very complex legend. In these cases, it makes sense to generate an HTML legend. Charts provide a generateLegend() method on their prototype that returns an HTML string for the legend.</div>
          <div class="chart-container">
            <canvas id="htmlLegendsChart"></canvas>
          </div>
          <div id="myChartLegend"></div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block chart %}
<script>
  function loadChartData() {
    // pieChart
    fetch("/chart/")
      .then((response) => response.json())
      .then((data) => {
        var severityLevels = Object.keys(data);
        var counts = Object.values(data);
        var pieChart = document.getElementById("pieChart").getContext("2d");

        console.log("call");

        new Chart(pieChart, {
          type: "pie",
          data: {
            datasets: [
              {
                data: counts,
                backgroundColor: ["#1d7af3", "#f3545d", "#fdaf4b"],
                borderWidth: 0,
              },
            ],
            labels: severityLevels,
          },
          options: {
            responsive: true,
            maintainAspectRatio: false,
            legend: {
              position: "bottom",
              labels: {
                fontColor: "rgb(154, 154, 154)",
                fontSize: 11,
                usePointStyle: true,
                padding: 20,
              },
            },
            pieceLabel: {
              render: "percentage",
              fontColor: "white",
              fontSize: 14,
            },
            tooltips: false,
            layout: {
              padding: {
                left: 20,
                right: 20,
                top: 20,
                bottom: 20,
              },
            },
          },
        });
      })
      .catch((error) => console.error("Error:", error));
  }

  loadChartData();
</script>

<script>
  var lineChart = document.getElementById("lineChart").getContext("2d"),
    barChart = document.getElementById("barChart").getContext("2d"),
    // pieChart = document.getElementById("pieChart").getContext("2d");

// var myPieChart = new Chart(pieChart, {
//     type: "pie",
//     data: {
//       datasets: [
//         {
//           data: [50, 35, 15],
//           backgroundColor: ["#1d7af3", "#f3545d", "#fdaf4b"],
//           borderWidth: 0,
//         },
//       ],
//       labels: ["New Visitors", "Subscribers", "Active Users"],
//     },
//     options: {
//       responsive: true,
//       maintainAspectRatio: false,
//       legend: {
//         position: "bottom",
//         labels: {
//           fontColor: "rgb(154, 154, 154)",
//           fontSize: 11,
//           usePointStyle: true,
//           padding: 20,
//         },
//       },
//       pieceLabel: {
//         render: "percentage",
//         fontColor: "white",
//         fontSize: 14,
//       },
//       tooltips: false,
//       layout: {
//         padding: {
//           left: 20,
//           right: 20,
//           top: 20,
//           bottom: 20,
//         },
//       },
//     },
// });

    pieChart = document.getElementById("pieChart").getContext("2d"),
    doughnutChart = document.getElementById("doughnutChart").getContext("2d"),
    radarChart = document.getElementById("radarChart").getContext("2d"),
    bubbleChart = document.getElementById("bubbleChart").getContext("2d"),
    multipleLineChart = document.getElementById("multipleLineChart").getContext("2d"),
    multipleBarChart = document.getElementById("multipleBarChart").getContext("2d"),
    htmlLegendsChart = document.getElementById("htmlLegendsChart").getContext("2d");

  var myLineChart = new Chart(lineChart, {
    type: "line",
    data: {
      labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
      datasets: [
        {
          label: "Active Users",
          borderColor: "#1d7af3",
          pointBorderColor: "#FFF",
          pointBackgroundColor: "#1d7af3",
          pointBorderWidth: 2,
          pointHoverRadius: 4,
          pointHoverBorderWidth: 1,
          pointRadius: 4,
          backgroundColor: "transparent",
          fill: true,
          borderWidth: 2,
          data: [542, 480, 430, 550, 530, 453, 380, 434, 568, 610, 700, 900],
        },
      ],
    },
    options: {
      responsive: true,
      maintainAspectRatio: false,
      legend: {
        position: "bottom",
        labels: {
          padding: 10,
          fontColor: "#1d7af3",
        },
      },
      tooltips: {
        bodySpacing: 4,
        mode: "nearest",
        intersect: 0,
        position: "nearest",
        xPadding: 10,
        yPadding: 10,
        caretPadding: 10,
      },
      layout: {
        padding: { left: 15, right: 15, top: 15, bottom: 15 },
      },
    },
  });

  var myBarChart = new Chart(barChart, {
    type: "bar",
    data: {
      labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
      datasets: [
        {
          label: "Sales",
          backgroundColor: "rgb(23, 125, 255)",
          borderColor: "rgb(23, 125, 255)",
          data: [3, 2, 9, 5, 4, 6, 4, 6, 7, 8, 7, 4],
        },
      ],
    },
    options: {
      responsive: true,
      maintainAspectRatio: false,
      scales: {
        yAxes: [
          {
            ticks: {
              beginAtZero: true,
            },
          },
        ],
      },
    },
  });

  // Add remaining chart initializations as needed
</script>
{% endblock %}
